---
layout: layouts/base.njk
permalink: /
---

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<button type="button" style=" bakgroundColor: 'blue' " href="https://zonecode.netlify.app/admin/#/">se connecter</a>

