---
layout: layouts/base.njk
permalink: /posts/
---
<!-- La route est défini ici
on défini le contenu du fichier postslist comme une collections pour 
pouvoir récupérer tous les articles  dans postslist !-->

{% set postslist = collections.posts %}
{% include "postslist.njk" %}