<!-- la liste des articles est défini ici en recupérant les métadonnées des fichiers .md des articles
il est appelé depuis la commande {% include fichier.njk %} dans les fichiers .md!-->
<ul>
    {% for post in postslist %}
        <li>
            <strong>
                <a href=" {{ post.url | url}}"> {{ post.data.title}} </a>
            </strong>
            -
            <span>
                {{ post.data.description }}
            </span>
        </li>
    {% endfor %}
</ul>